/* CustomNavbar.css */

/* Open dropdowns on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Remove space between the dropdown and the parent */
}

/* Ensure the dropdown toggler's background doesn't change */
.nav-link.dropdown-toggle::after {
  display: none; /* Remove the default caret */
}

a {
  font-weight: bold;
}
.nav-item{
  font-weight: bold;
  font-size: 0.85rem;

}
.navbar{
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  transition: all 0.1s ease-in-out;

}
/* CustomNavbar.css */
.navbar.collapsed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* Ensure it stays on top of other content */
  transition: all 0.1s ease-in-out;
}

/* Add any additional styling needed for the collapsed state */
